<!DOCTYPE html>
<html>
  <head>
    <title>X Toxicity Detection - Error</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon_new.ico') }}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
  </head>
  <body class="light">
    <header>
      <a href="/"><h1>X Toxicity Detection</h1></a>
      <div class="toggle-switch">
        <input type="checkbox" id="toggle" />
        <label for="toggle"></label>
      </div>
      <button id="popup-button"><i class="fas fa-key"></i></button>
    </header>

    <div class="error-container">
      <h2>Error</h2>
      <p class="error-message">{{ error }}</p>
      <br />
      <p class="error-info">
        <b
          >Check the '.env' file and make sure you have the correct
          credentials.<br />You do need Twitter Elevated API access it is free
          for 2M Tweets/Month<br />
          Please check the
          <a href="https://developer.twitter.com/en/portal/products/elevated"
            >Twitter Elevated API</a
          >
          for more information.</b
        >
      </p>
      <br />
      <button class="error-button">
        <a href="/">Go back</a>
      </button>
    </div>

    <div id="popup" class="popup">
      <form class="popup-content">
        <h3>API Keys</h3>
        <p>
          Restart the server after saving the API keys.
        </p>
        <span class="close">&times;</span>
        <input
          type="text"
          id="consumerKey"
          name="consumerKey"
          placeholder="Consumer Key"
        />
        <input
          type="text"
          id="consumerSecret"
          name="consumerSecret"
          placeholder="Consumer Secret"
        />
        <input
          type="text"
          id="accessToken"
          name="accessToken"
          placeholder="Access Token"
        />
        <input
          type="text"
          id="accessTokenSecret"
          name="accessTokenSecret"
          placeholder="Access Token Secret"
        />
        <input type="submit" value="Save" />
      </form>
    </div>

    <footer>
      <p>
        Created by
        <a href="https://github.com/mantreshkhurana" target="_blank"
          >Mantresh Khurana</a
        >
      </p>
    </footer>

    <script>
      document
        .getElementById("popup-button")
        .addEventListener("click", function () {
          document.getElementById("popup").style.display = "block";
        });

      document.querySelector(".close").addEventListener("click", function () {
        document.getElementById("popup").style.display = "none";
      });

      async function fetchApiKeys() {
        const response = await fetch("/api/keys");
        const data = await response.json();
        return data;
      }

      async function saveApiKeys(apiKeys) {
        const response = await fetch("/api/keys", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(apiKeys),
        });
        const data = await response.json();
        return data;
      }

      async function fillApiKeys() {
        const apiKeys = await fetchApiKeys();
        document.getElementById("consumerKey").value = apiKeys.CONSUMER_KEY;
        document.getElementById("consumerSecret").value =
          apiKeys.CONSUMER_SECRET;
        document.getElementById("accessToken").value = apiKeys.ACCESS_TOKEN;
        document.getElementById("accessTokenSecret").value =
          apiKeys.ACCESS_TOKEN_SECRET;
      }

      document
        .querySelector(".popup-content")
        .addEventListener("submit", async function (event) {
          event.preventDefault();
          const apiKeys = {
            CONSUMER_KEY: document.getElementById("consumerKey").value,
            CONSUMER_SECRET: document.getElementById("consumerSecret").value,
            ACCESS_TOKEN: document.getElementById("accessToken").value,
            ACCESS_TOKEN_SECRET:
              document.getElementById("accessTokenSecret").value,
          };
          await saveApiKeys(apiKeys);
          document.getElementById("popup").style.display = "none";
        });

      document
        .getElementById("popup-button")
        .addEventListener("click", function () {
          fillApiKeys();
        });
    </script>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
